<p></p>

<div class="container">
    <h3>STUDENTS LIST:</h3>
 <div style=" display: grid;  grid-template-columns: 1fr 1fr 1fr; ">
    <ng-container  *ngFor="let resident of residents | async" class="container" style="display: grid; ">
        
        <div class="card" style="width: 15rem; align-items: center; margin-bottom: 2em; background-color:cadetblue; display:grid;" [routerLink]="['/resident', resident.getId() ]">
            <img class="card-img-top" src="{{resident.image}}" alt="{my profile photo}">
            <div class="card-body">
            <b>id: {{ resident.getId() }}</b>
            <br>
            <b>full name: {{ resident.getFullName()}}</b>
            <br>
            <b>age:{{ resident.getAge()}}</b>
            <br>
            <b>is male:{{ resident.isMale }}</b>
            <br>
            <b>city:{{ resident.city}}</b>
            <br>
            <b>address:{{ resident.address }}</b>
            <br>
            <b>resident from: {{ resident.year }}</b>
            <br>
            <b>status:{{ resident.status }}</b>
            <button class="btn btn-warning" [routerLink]="['/resident', resident.getId() ]" style="position: absolute; right: 5%;">Edit</button>
            </div>
        </div>  
    </ng-container>
    </div> 
</div>


