<p></p>

<div class="container">
  
    <h2>resident - details</h2>
    <div *ngIf=" resident| async as resident">
      <img class="card-img-top" src="{{resident.image}}" alt="{my profile photo}" style="width: 18rem;">
      <h3>{{ resident.fullName }}</h3>
      <b>Id: </b> {{ resident.getId() }}
      <br>
      <b>age:{{resident.age}}</b>
      <br>
      <b>City:{{resident.city}}</b>
      <br>
      <b>address:{{resident.address}}</b>
      <br>
      <b>year:{{resident.year}}</b>
      <br>
      <b>status:{{resident.status}}</b>

      
      <div>
        <br>
        <b>Full Name:</b>
        
        
        <input style="width: 250px;" type="text" [(ngModel)]='resident.fullName' class='form-control'/>   
      </div>

      <div>
        <b>age:</b>
        <br>
        
        <input style="width: 250px;" type="text" [(ngModel)]='resident.age' class='form-control'/>   
      </div>
         
    </div>
    <button class="btn btn-secondary" (click)="goBack()" >BACK</button>
  </div>

